SpeechRecognition==3.8.1
pocketsphinx==5.0.0
torch==1.13.0
torchaudio==0.13.0
omegaconf==2.2.3
librosa==0.9.2
transformers==4.24.0
SentencePiece==0.1.97
speechbrain==0.5.13
vosk==0.3.44
punctuator==0.9.6
numpy==1.21.5
pydub==0.25.1
git+https://github.com/openai/whisper.git